@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin : 0;
  padding: 0;
}

body {
  background-color: #111111;
}

header {
  background-color: black;
  justify-content : flex-end;
  display         : flex;
  margin-right    : 0rem;
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  z-index         : 100;
}

header>img {
  width : 55px;
  height: 58px;
}


/* ######### Начальные значения тегов ######### */
h1 {
  margin-top    : 28px;
  font-family   : 'Poppins';
  font-style    : normal;
  font-weight   : 700;
  font-size     : 30px;
  line-height   : 112.5%;
  text-align    : center;
  letter-spacing: 0.05em;
  color         : #DBDBDB;
}

h2 {
  margin-top    : 55px;
  margin-left   : 27px;
  font-family   : 'Poppins';
  font-style    : normal;
  font-weight   : 700;
  font-size     : 30px;
  line-height   : 112.5%;
  letter-spacing: 0.05em;
  color         : #DBDBDB;
}

span {
  color: #FE3B00;
}

/* ######### Общие классы ######### */
.telo {
  margin-top: 129px;
}

.text {
  margin-top: 13px;
  text-align: center;
}

.minititle {
  position       : relative;
  display        : flex;
  justify-content: center;
}

.zfonts {
  margin-top    : 100px;
  font-family   : 'Poppins';
  font-style    : normal;
  font-weight   : 700;
  font-size     : 30px;
  line-height   : 112.5%;
  text-align    : center;
  letter-spacing: 0.05em;
  color         : #DBDBDB;
}

.bonusfonts {
  font-family   : 'Poppins';
  font-style    : normal;
  font-weight   : 400;
  font-size     : 36px;
  line-height   : 112.5%;
  letter-spacing: 0.05em;
  color         : #F1F1F1;
}

.seoicon {
  position : absolute;
  left     : 50%;
  top      : 50%;
  transform: translate(-50%, -50%);
}

p.basicfont {
  font-family: 'Poppins';
  font-style : normal;
  font-weight: 300;
  font-size  : 15px;
  line-height: 138.5%;
  color      : #FFFFFF;
}

.getintouchleft {
  margin-top: 35px;
}

.getintouchright {
  margin-top: 35px;
  float     : right;
}

.para {
  margin-top: 13px;
}

.line {
  margin-top   : 34px;
  margin-inline: auto;
}

.longlinedown {
  margin-top  : 45px;
  margin-left : auto;
  margin-right: auto;
  display     : block;
}

.longline {
  margin-top  : 60px;
  margin-left : auto;
  margin-right: auto;
  display     : block;
}

.right {
  text-align: right;
}

.otstup {
  margin-right: 34px;
}

.priziv {
  width          : 1080px;
  display        : flex;
  justify-content: space-between;
}

.email {
  display   : inline-block;
  margin-top: 51px;
}

.contactus {
  margin-left: 27px;
}

.getbonus {
  margin-top: 155px;
  width     : 501px;
  display   : inline-block;
}

.leon {
  margin-top: 100px;
}

/* ######### Анимации ######### */
.animation-appear {
  animation: magic 2s ease-in-out;
}


@keyframes magic {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}