@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
  margin : 0;
  padding: 0;
}

body {
  background-color: #111111;
}

header {
  background-color: black;
  justify-content : flex-end;
  display         : flex;
  margin-right    : 0rem;
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  z-index         : 100;
}

header>img {
  width : 55px;
  height: 58px;
}

/* Подвал */

footer {
  background-color: black;
}

.end {
  height    : 342px;
  margin-top: 84px;
}

.container {
  display     : flex;
  margin-left : auto;
  margin-right: auto;
  width       : 1205px;
}

.footer-li {
  display    : flex;
  text-align : none;
  line-height: 44px;
}

.colomn1 {
  position     : relative;
  padding-right: 180px;
  margin-top   : 94px;
}

.colomn3 {
  position     : relative;
  padding-right: 140px;
  margin-top   : 94px;
}

.colomn2 {
  display     : flex;
  align-items : flex-end;
  margin-top  : 94px;
  margin-right: 94px;
}

.social-media {
  margin-top: 30px;
}

.icons {
  display: flex;
}

.otstups {
  margin-right: 18px;
}

.meta {
  margin-top     : 33px;
  display        : flex;
  justify-content: flex-end;
}

.midle {
  margin-top : 24px;
  font-family: 'Poppins';
  font-style : normal;
  font-weight: 300;
  font-size  : 15px;
  line-height: 138.5%;
  color      : #DBDBDB;
}

/* Начальные значения тегов */
h1 {
  margin-top    : 28px;
  font-family   : 'Poppins';
  font-style    : normal;
  font-weight   : 700;
  font-size     : 30px;
  line-height   : 112.5%;
  text-align    : center;
  letter-spacing: 0.05em;
  color         : #DBDBDB;
}

h2 {
  margin-top    : 55px;
  margin-left   : 27px;
  font-family   : 'Poppins';
  font-style    : normal;
  font-weight   : 700;
  font-size     : 30px;
  line-height   : 112.5%;
  letter-spacing: 0.05em;
  color         : #DBDBDB;
}

span {
  color: #FE3B00;
}


/* Общие классы */
.telo {
  margin-top: 129px;
}

.text {
  margin-top: 13px;
  text-align: center;
}

.minititle {
  position       : relative;
  display        : flex;
  justify-content: center;
}

.zfonts {
  font-family   : 'Poppins';
  font-style    : normal;
  font-weight   : 700;
  font-size     : 30px;
  line-height   : 112.5%;
  text-align    : center;
  letter-spacing: 0.05em;
  color         : #DBDBDB;
}

.bonusfonts {
  font-family   : 'Poppins';
  font-style    : normal;
  font-weight   : 400;
  font-size     : 36px;
  line-height   : 112.5%;
  letter-spacing: 0.05em;
  color         : #F1F1F1;
}

.seoicon {
  position : absolute;
  left     : 50%;
  top      : 50%;
  transform: translate(-50%, -50%);
}


/* Анимации */
.animation-appear {
  animation: magic 2s ease-in-out;
}


@keyframes magic {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}