.filling3 {
    margin-top           : 40px;
    display              : grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows   : repeat(4, 70px);
    grid-column-gap      : 50px;
    justify-content      : center;
    align-items          : center;
}

.filling4 {
    display        : flex;
    justify-content: center;
    margin-left    : auto;
    margin-right   : auto;
    position       : relative;
    width          : 1205px;
}

.spusk {
    margin-top: 15px;
}

.block {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.maintitle {

    font-size : 45px;
    text-align: left;
}

.title {
    display       : flex;
    align-items   : flex-start;
    flex-direction: column;
    width         : 600px;
    margin-left   : auto;
    margin-right  : auto;
}

.service {
    margin-left: 10px;
}

.brands {
    margin-top      : 165px;
    background-color: black;
    display         : flex;
    align-items     : center;
    justify-content : space-evenly;
    margin-right    : 0rem;


    left   : 0;
    right  : 0;
    z-index: 100;
}

.servicesofdun {
    display        : flex;
    justify-content: center;

}

.pocentru {
    text-align: center;
}

.cen {
    margin-top     : 70px;
    display        : flex;
    justify-content: center;
}

.gridservices {
    display              : grid;
    justify-content      : center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows   : 450px;
    grid-column-gap      : 70px;
    margin-top           : 50px;
}

.minititleservices {

    position       : relative;
    display        : flex;
    justify-content: center;


}

.consultation {
    display        : flex;
    justify-content: center;
    margin-top     : 68px;
}

.gridbrands {
    margin-top           : 57px;
    display              : grid;
    align-items          : center;
    justify-content      : center;
    grid-template-columns: repeat(6, 240px);
    grid-template-rows   : repeat(4, 150px);
    text-align           : center;


}

.link {
    display: block;
}

.inline {
    display        : flex;
    justify-content: center;
    padding-top    : 35px;
}

.inline1 {
    display        : flex;
    justify-content: center;
    margin-top     : 50px;

}


.brandsheet {
    background-color: black;
    flex-direction  : column;
    display         : flex;
    margin-top      : 96px;
}

.flextitle {
    display     : flex;
    align-items : flex-end;
    width       : 1200px;
    margin-left : auto;
    margin-right: auto;
}


.gridnumber {
    margin-top           : 70px;
    display              : grid;
    align-items          : center;
    justify-items        : center;
    justify-content      : center;
    grid-template-columns: repeat(4, 350px);
    grid-template-rows   : repeat(2, 150px);

}

.minititlenumber {

    position       : relative;
    display        : flex;
    justify-content: center;
    align-items    : center;


}

.number1 {
    position: absolute;
}