.filling1 {

    display        : flex;
    justify-content: center;
    flex-direction : column;
}

.filling2 {
    width       : 685px;
    margin-left : auto;
    margin-right: auto;
    position    : relative;
}

.conl {
    position : absolute;
    transform: translate(calc(-100% - 37px));
    bottom   : 40px;
}

.conr {
    position : absolute;
    transform: translate(calc(360% + 37px));
    bottom   : 40px;
}

.ring2,
.ring3,
.ring4 {
    position: relative;
}

.seoicon2,
.seoicon3,
.seoicon4 {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
}

.filling3
{
    display: grid;
    justify-content: center;
    justify-items: center;
}
.filling4 {
    display: flex;
    justify-content: center;
    margin-left : auto;
    margin-right: auto;
    position    : relative;
    width       : 1205px;
}

.grid
{
    
display: grid;
grid-template-columns: 6fr 1fr 6fr 1fr;
grid-column-gap: 180px;
grid-auto-rows: 82px;
width: 1190px;
align-items: center;
margin-left: 20px;






font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 138.5%;
/* identical to box height, or 21px */


color: #FFFFFF; 
}

.boldfonts
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 112.5%;
/* or 41px */

letter-spacing: 0.05em;

}