@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin : 0;
    padding: 0;
}

body {
    background-color: #111111;

}

header {
    background-color: black;
    justify-content : flex-end;
    display         : flex;
    margin-right    : 0rem;
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    z-index         : 100;
}

header>img {
    width : 55px;
    height: 58px;
}

.minititle {
    position       : relative;
    display        : flex;
    justify-content: center;
}

.zfonts {
    font-family: 'Poppins';
    font-style : normal;
    font-weight: 700;
    font-size  : 30px;
    line-height: 112.5%;
    /* or 34px */

    text-align    : center;
    letter-spacing: 0.05em;

    color: #DBDBDB;
}

.bonusfonts {
    font-family: 'Poppins';
    font-style : normal;
    font-weight: 400;
    font-size  : 36px;
    line-height: 112.5%;
    /* or 41px */

    letter-spacing: 0.05em;

    color: #F1F1F1;

}

.seoicon {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
}

.ring {
    animation: magic 2s ease-in-out;
}


.telo {
    margin-top: 129px;
}

.text {
    margin-top: 13px;
    text-align: center;

}

.filling1 {

    display        : flex;
    justify-content: center;
    flex-direction : column;
}

h1 {
    margin-top: 28px;

    font-family: 'Poppins';
    font-style : normal;
    font-weight: 700;
    font-size  : 30px;
    line-height: 112.5%;
    /* or 34px */

    text-align    : center;
    letter-spacing: 0.05em;

    color: #DBDBDB;
}

.line {
    margin-top  : 34px;
    margin-left : auto;
    margin-right: auto;

}

h2 {
    margin-top : 55px;
    margin-left: 27px;



    font-family: 'Poppins';
    font-style : normal;
    font-weight: 700;
    font-size  : 30px;
    line-height: 112.5%;
    /* or 34px */

    letter-spacing: 0.05em;

    color: #DBDBDB;
}

.filling2 {
    width       : 685px;
    margin-left : auto;
    margin-right: auto;
    position    : relative;
}

.para {
    margin-top: 13px;
}

p.basicfont {
    font-family: 'Poppins';
    font-style : normal;
    font-weight: 300;
    font-size  : 15px;
    line-height: 138.5%;
    color      : #FFFFFF;
}

span {
    color: #FE3B00;
}

.getintouchleft {
    margin-top: 35px;

}

.getintouchright {
    margin-top: 35px;
    float     : right;
}

@keyframes magic {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.right {
    text-align: right;
}

.otstup {
    margin-right: 34px;
}



.conl {
    position : absolute;
    transform: translate(calc(-100% - 37px));
    bottom   : 35px;

}

.ring2 {
    position : relative;
    animation: magic 2s ease-in-out;
}

.backendicon {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
}

.ring3 {
    position : relative;
    animation: magic 2s ease-in-out;
}

.FrontEndIcon {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
}

.conr {
    position : absolute;
    transform: translate(calc(360% + 37px));
    bottom   : 40px;

}

.ring4 {
    position : relative;
    animation: magic 2s ease-in-out;
}

.webicon3 {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
}

h3 {
    margin-top: 100px;
}

.filling3 {
    margin-left : auto;
    margin-right: auto;
    position    : relative;
    width       : 1205px;
}

.longline {
    margin-top  : 60px;
    margin-left : auto;
    margin-right: auto;
    display     : block;
}

.block {
    margin-left: 32px;
    display    : inline-block;
}

.block1 {
    margin-top: 39px;



}

.block2 {
    margin-top: 82px;

}

.block3 {
    margin-left: 78px;
}

.plus1 {

    margin-left: 147px;
    margin-top : 39px;
}

.plus2 {

    margin-left: 202px;
    margin-top : 77px;
}

.plus3 {

    margin-left: 150px;
    margin-top : 79px;
}

.plus4 {

    margin-left: 132px;
    margin-top : 79px;
}

.plus5 {

    margin-left: 255px;
    margin-top : 79px;
}

.plus6 {

    margin-left: 284px;
    margin-top : 79px;
}

.longlinedown {
    margin-top  : 45px;
    margin-left : auto;
    margin-right: auto;
    display     : block;
}

.priziv {
    width          : 1080px;
    display        : flex;
    justify-content: space-between;
}



.email {
    display   : inline-block;
    margin-top: 51px;

}

.contactus {
    margin-left: 27px;

}

.getbonus {
    margin-top: 155px;
    width     : 501px;
    display   : inline-block;

}

.leon {
    margin-top: 100px;


}

.top
{
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 138.5%;
/* or 21px */


color: #FFFFFF;
}

.midle
{
    
    margin-top: 24px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 138.5%;


color: #DBDBDB;

}

.end
{
    background-color: black;
    height: 342px;
    margin-top: 84px;
   
    
}
.colomn1
{
    position: relative;
    padding-right: 180px; 
    margin-top: 94px;
}
.colomn3
{
    position: relative;
    padding-right: 140px; 
    margin-top: 94px;
}


.container
{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1205px;
  
   
}
li
{
    
    display: flex;
    text-align: none;
    line-height: 44px;
}
.colomn2
{
    display: flex;
    align-items: flex-end;
    margin-top: 94px;
    margin-right: 94px;
}

.socialmedia
{
    margin-top: 30px;
}
.meta
{
    margin-top: 33px;
    display: flex;
    justify-content: flex-end;
}
.icons
{
    display: flex;
}
.otstups
{
    margin-right: 18px;
}