.filling1 {
    display        : flex;
    justify-content: center;
    flex-direction : column;
}

.filling2 {
    width       : 685px;
    margin-left : auto;
    margin-right: auto;
    position    : relative;
}

.conl {
    position : absolute;
    transform: translate(calc(-100% - 37px));
    bottom   : 35px;
}

.conr {
    position : absolute;
    transform: translate(calc(360% + 37px));
    bottom   : 40px;
}

.ring2,
.ring3,
.ring4 {
    position: relative;
}

.webicon3 {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
}

.filling3,
.filling4 {
    margin-left : auto;
    margin-right: auto;
    position    : relative;
    width       : 1205px;
}

.block {
    margin-left: 32px;
    display    : inline-block;
}

.block1 {
    margin-top: 39px;
}

.block2 {
    margin-top: 82px;
}

.block3 {
    margin-left: 78px;
}

.plus1 {
    margin-left: 147px;
    margin-top : 39px;
}

.plus2 {
    margin-left: 202px;
    margin-top : 77px;
}

.plus3 {
    margin-left: 150px;
    margin-top : 79px;
}

.plus4 {
    margin-left: 132px;
    margin-top : 79px;
}

.plus5 {
    margin-left: 255px;
    margin-top : 79px;
}

.plus6 {
    margin-left: 284px;
    margin-top : 79px;
}

/* Уникальное */
.backendicon {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
}

.FrontEndIcon {
    position : absolute;
    left     : 50%;
    top      : 50%;
    transform: translate(-50%, -50%);
}